.content-info {
  a {
    @apply text-white leading-normal border-none;

    &:hover {
      @apply border-none text-primary;
    }
  }

  .vcard {
    font-size: 18px;
  }

  .social-links {
    a {
      font-size: 26px;
      padding: 0 10px;
      border: none;
    }
  }
}
