.banner .nav {
  @apply list-none p-0 flex flex-wrap;
}

.banner .nav a {
  @apply inline-block px-4 py-2 border-none;

  &:hover {
    color: darken(#525ddc, 30%);
  }
}

#menuToggle {
  outline: none;
  transition: transform 0.4s, background 0.4s;
  z-index: 1000;

  .menu-bar {
    position: absolute;
    height: 2px;
    width: 40%;
    border-radius: 10px;
    left: 30%;
    background: white;

    &::before {
      top: -5px;
      content: " ";
      position: absolute;
      height: 2px;
      width: 100%;
      border-radius: 10px;
      left: 0%;
      background: white;
    }

    &::after {
      bottom: -5px;
      content: " ";
      position: absolute;
      height: 2px;
      width: 100%;
      border-radius: 10px;
      left: 0%;
      background: white;
    }
  }

  &.open {
    transform: rotate(180deg);
    background: white;

    .menu-bar {
      background: none;

      &::before {
        transform: rotate(45deg);
        background: $primary;
        top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        background: $primary;
        top: 0;
      }
    }
  }
}

#mega-nav {
  @apply opacity-0 bg-primary text-white fixed w-full h-full top-0 left-0 flex items-center justify-center;

  transition: opacity 0.4s;
  z-index: -10;

  li {
    @apply pb-5;

    opacity: 0;
    transform: translateX(10%);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;

    &:nth-child(2) {
      transition-delay: 0.1s;
    }

    &:nth-child(3) {
      transition-delay: 0.2s;
    }

    &:nth-child(4) {
      transition-delay: 0.3s;
    }

    &:nth-child(5) {
      transition-delay: 0.4s;
    }

    &:nth-child(6) {
      transition-delay: 0.5s;
    }

    &:nth-child(7) {
      transition-delay: 0.6s;
    }
  }

  &.open {
    @apply block opacity-100;
    z-index: 999;

    li {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  a {
    @apply text-white block text-2xl border-none font-bold leading-none;

    &:hover {
      color: darken(white, 10%);
      padding-right: 5px;
    }
  }
}

@screen lg {
  #mega-nav {
    a {
      @apply text-5xl;
    }
  }
}
